*.o
*.debhelper
debian/dhcpsnoopingd-fem
debian/files
.deps
.dirstamp
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
debian/dhcpsnoopingd-fem.debhelper.log
debian/dhcpsnoopingd-fem.substvars
depcomp
dhcpsnoopingd
install-sh
missing
stamp-h1
autom4te.cache

